In [0]:
# Columnar Storage
import pandas as pd

Dataset Source: 


https://www.kaggle.com/AnalyzeBoston/crimes-in-boston/downloads/crimes-in-boston.zip/2


Descarga los datos, se encuentran en formato zip y despues cargalos en tu ambiente de colab

In [0]:
!unzip crimes-in-boston.zip

Archive:  crimes-in-boston.zip
  inflating: crime.csv
  inflating: offense_codes.csv

In [0]:
!ls -lh

total 66M
-rw-r--r-- 1 root root  56M Oct  5 04:23 crime.csv
-rw-r--r-- 1 root root  11M Feb 15 13:00 crimes-in-boston.zip
-rw-r--r-- 1 root root  19K Oct  5 04:23 offense_codes.csv
drwxr-xr-x 1 root root 4.0K Feb  5 18:37 sample_data

In [0]:
df_crimes = pd.read_csv('crime.csv',  encoding='latin-1')

In [0]:
print(df_crimes.shape)
df_crimes.head()

In [0]:
# Vamos a escribir el dataset en un archivo parquet
df_crimes.to_parquet('crimes.parquet', engine='auto', compression='snappy' ,  )

In [0]:
!ls -lh

total 74M
-rw-r--r-- 1 root root  56M Oct  5 04:23 crime.csv
-rw-r--r-- 1 root root  11M Feb 15 13:00 crimes-in-boston.zip
-rw-r--r-- 1 root root 7.8M Feb 15 13:03 crimes.parquet
-rw-r--r-- 1 root root  19K Oct  5 04:23 offense_codes.csv
drwxr-xr-x 1 root root 4.0K Feb  5 18:37 sample_data

In [0]:
# Vamos a escribir el dataset en un archivo parquet
df_crimes.to_parquet('crimes.parquet_year', engine='auto', compression='snappy' , partition_cols=['YEAR']  )

In [0]:
# Para verificar, carguemos nuevamente el dataset
import pyarrow.parquet as pq
data = pq.read_pandas('crimes.parquet').to_pandas()
data

       INCIDENT_NUMBER  OFFENSE_CODE  ...       Long                     Location
0           I182070945           619  ... -71.139371  (42.35779134, -71.13937053)
1           I182070943          1402  ... -71.060300  (42.30682138, -71.06030035)
2           I182070941          3410  ... -71.072429  (42.34658879, -71.07242943)
3           I182070940          3114  ... -71.078664  (42.33418175, -71.07866441)
4           I182070938          3114  ... -71.090361  (42.27536542, -71.09036101)
...                ...           ...  ...        ...                          ...
319068   I050310906-00          3125  ... -71.085748  (42.33695098, -71.08574813)
319069   I030217815-08           111  ... -71.123172  (42.25592648, -71.12317207)
319070   I030217815-08          3125  ... -71.123172  (42.25592648, -71.12317207)
319071   I010370257-00          3125  ... -71.111565  (42.30233307, -71.11156487)
319072       142052550          3125  ... -71.080290  (42.33383935, -71.08029038)

[319073 rows x 17 columns]